<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Patient</title>
</head>
<body>

<div layout:fragment="content">
    <form class="form-container" th:action="@{/patients/create}" th:object="${patient}" method="post">
        <div class="form-title"><h2>Add patient</h2></div>
        --
        <div class="form-title">Evidential No:
            <input class="form-field" type="text" th:field="*{evidentialNumber}" name="evidentialNumber"/><br/>
        </div>
        --
        <div class="form-title">Age:
            <input class="form-field" type="text" th:field="*{patientAge}" name="patientAge"/><br/>
        </div>
        --
        <!--&#45;&#45;ASA-->
        <div class="form-title"> ASA:
            <select id="asaFactor" th:field="*{asaFactor}" name="asaFactor">
                <option th:each="type : ${asaList}"
                        th:value="${type}"
                        th:text="${type.getFieldDescription()}">
                </option>
            </select>
        </div>
        --
        <!--&#45;&#45;TECHNIQUE-->
        <div class="form-title">Technique:</div>
        <div th:each="anesthesia : ${anesthesiaList}">
            <input type="radio" th:id="${anesthesia}" th:value="${anesthesia.getFieldDescription()}"
                   th:field="*{anesthesiaTechnique}"/>
            <label th:text="${anesthesia}">Technique</label>
        </div>
        --
        <!--&#45;&#45;SUPERVISION-->
        <div class="form-title">Supervision:</div>
        <div th:each="supervision : ${supervisionList}">
            <input type="radio" th:id="${supervision}" th:value="${supervision.getFieldDescription()}"
                   th:field="*{supervisionType}"/>
            <label th:text="${supervision}">Supervision</label>
        </div>
        --
        <div class="form-title">
            Description: <input th:field="*{treatmentType}" name="treatmentType"/>
        </div>
        --
        <div class="submit-container">
            <input class="submit-button" type="submit" value="Dodaj"/>
        </div>
    </form>
</div>
</body>
</html>