<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>List Posts</title>
</head>
<body>

<div layout:fragment="content">

    <table border="1" style="width:100%; border-style:solid; border-width:2px; border-color: #c3d2d9; text-align:center;" >
        <tr>
            <th>evidential number</th>
            <th>age</th>
            <th>date</th>
            <th>asa</th>
            <th>treatment type</th>
            <th>anesthesia technique</th>
            <th>supervision type</th>
        </tr>
        <entry th:each="patient : ${patients}">
            <tr class='clickable-row' data-href='http://www.google.com'>
                <td th:text="${patient.evidentialNumber}">s</td>
                <td th:text="${patient.patientAge}"></td>
                <td th:text="${patient.registeredDate}"></td>
                <td th:text="${patient.asaFactor}"></td>
                <td th:text="${patient.treatmentType}"></td>
                <td th:text="${patient.anesthesiaTechnique}"></td>
                <td th:text="${patient.supervisionType}"></td>
            </tr>
        </entry>
    </table>
</div>
<script>
    $(function() {$(".clickableRow").on("click", function() { location.href="http://google.com";})});

</script>
</body>
</html>