<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>List Posts</title>
    <script type="text/javascript">
    function rowClicked(value) {
        location.href = "/patients/view/" + value;
    }
</script>
</head>
<body>

<div layout:fragment="content">
        <h2>Patients</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nr. ewid</th>
                <th>Wiek</th>
                <th>Data</th>
                <th>ASA</th>
                <th>Rodzaj zabiegu</th>
                <th>Technika</th>
                <th>Nadzór</th>
            </tr>
            </thead>
            <tbody>
            <entry th:each="patient : ${patients}">
                <tr style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${patient.evidentialNumber} + '\');'">
                    <td th:text="${patient.evidentialNumber}">s</td>
                    <td th:text="${patient.patientAge}"></td>
                    <td th:text="${patient.registeredDate}"></td>
                    <td th:text="${patient.asaFactor}"></td>
                    <td th:text="${patient.treatmentType}"></td>
                    <td th:text="${patient.anesthesiaTechnique}"></td>
                    <td th:text="${patient.supervisionType}"></td>
                </tr>
            </entry>
            </tbody>
        </table>
</div>
</body>
</html>
