<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>List Posts</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h2>Patients</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>EvidentialNo</th>
                <th>Age</th>
                <th>Date</th>
                <th>Asa</th>
                <th>Treatment type</th>
                <th>Anesthesia technique</th>
                <th>Supervision type</th>
            </tr>
            </thead>
            <tbody>
            <entry th:each="patient : ${patients}">
                <tr class='clickable-row' data-href='http://www.google.com'>
                    <td th:text="${patient.evidentialNumber}">s</td>
                    <td th:text="${patient.patientAge}"></td>
                    <td th:text="${patient.registeredDate}"></td>
                    <td th:text="${patient.asaFactor}"></td>
                    <td th:text="${patient.treatmentType}"></td>
                    <td th:text="${patient.anesthesiaTechnique}"></td>
                    <td th:text="${patient.supervisionType}"></td>
                </tr>
            </entry>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
