<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="|View Post - ${patient.evidentialNumber}|">View Post</title>
</head>
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/patients/list">Patients</a></li>
        <li class="active" th:text="${patient.evidentialNumber}"></li>
    </ol>

    <article>
        <header>
            <h2 th:text="${patient.supervisionType}">title</h2>
            <p th:text="${#calendars.format(patient.registeredDate,'M/dd/yyyy hh:mm:ss')}">postedOn</p>
        </header>
        <section th:utext="${patient.treatmentType}">
        </section>
    </article>

</div>

</body>
</html>