<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Anesthesia Home</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Anesthesia Alpha v0.6</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl libero, molestie vitae orci nec,
                luctus feugiat lorem. Maecenas eu massa non neque blandit tempor. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Suspendisse id consectetur enim, et cursus nisl. Ut volutpat tempor accumsan.
                Aliquam et libero id nunc consectetur consequat at eu nibh. Nam ut justo in sapien fermentum
                facilisis.</p>
        </div>
    </div>
</div>

</body>
</html>